doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Document
    style.
      table {
      border-left: 1px solid #ebeef5;
      border-top: 1px solid #ebeef5;
      margin-top: 40px;
      width:100%;
      }
      table td,
      th {
      border-bottom: 1px solid #ebeef5;
      border-right: 1px solid #ebeef5;
      }
      .delBtn {
      cursor: pointer;
      }
      a{
      text-decoration:none;
      }
  body
    div
      table(border='0')
        tbody
          tr
            th 标题
            th 类型
            th 国家
            th 缩略图
            th 操作
          tr
            td 18人死伤！韩国一男子纵火后持凶器伤害避险邻居
            td 纵火
            td 韩国
            td
              img(width='140px', src='/img/img.png')
            td
              span.delBtn 删除
          tr
            td 18人死伤！韩国一男子纵火后持凶器伤害避险邻居
            td 纵火
            td 韩国
            td
              img(width='140px', src='/img/img.png')
            td
              span.delBtn 删除
          tr
            td 18人死伤！韩国一男子纵火后持凶器伤害避险邻居
            td 纵火
            td 韩国
            td
              img(width='140px', src='/img/img.png')
            td
              span.delBtn 删除
      |         1 2 3
